


body {
margin: 3px;
}
.wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100px 1fr 1fr;
    grid-auto-rows: 200px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 2px;
    padding: 20px;
    font-size: 150%;
    place-items: center;
    text-align: center;

}

.a {
grid-column: auto / span 1;
place-items: center;
}

.k {
grid-column: auto / span 1;
}


